*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Yu Gothic';
    font-style: normal;
}
header {
    background-color: #76B2B0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    flex-direction:column;
}
header img {
    width: 719px;
    max-width:70%;
}
header h1 {
    margin-top: 29px;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 0.28em;
    color: #F8FFFF;
}
.cool{
    text-align: center;
    background: #EE7A3D;
    height: 746px;
    white-space: nowrap;
    overflow: hidden;
}
.cool p{
    font-size: 20px;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: 0.5em;
    color: #F8FFFF;
    margin-top:80px;
}
.cool h1 {
    font-weight: 700;
    font-size: 255px;
    line-height: 250px;
    letter-spacing: -0.08em;
    color: #F8FFFF;
    display: flex;
    justify-content: center;
}
.br-sp {
    display: none;
}
.practical {
    background-color: #76B2B0;
    height: 858px;
    padding-top:98px;
}
.practical img {
    height: 663px;
    float:left;
    margin-left:12.78%;
    margin-right:13.07%;
}
.pcI { display: block !important; }
.spI { display: none !important; }

.mind {
    background-color: #76B2B0;
    height: 858px;
    padding-top:98px;
    padding-right:13.19%;
}
.mind img {
    height: 663px;
    float:right;
    margin-left:12.78%;
}

.pcM { display: block !important; }
.spM { display: none !important; }

.modal-box-practical {
    position: relative;
    display: flex;
    padding-bottom:62px;
    
}
.modal-box-mind{
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-bottom:82px;
}
.modal-button {
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.38em;
    color: #FFF9E7;
    white-space: nowrap;
    overflow: hidden;
}
.link-p {
    border-bottom: dotted 2px #FFF9E7;
    -webkit-transition: all 0.3s ease;
}
.link-m{
    border-bottom: dotted 2px #FFF9E7;
    -webkit-transition: all 0.3s ease;
}
.link-p:hover {
    background-color: #EE7A3D;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-transition: all 0.3s ease;
    border: solid #F8FFFF 1px;
}
.link-m:hover{
    background-color: #4E7C72;
    -webkit-transition: all 0.3s ease;
    border: solid #F8FFFF 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.modaal-content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:121px;
}
.mind-layout {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.banner-P{
    width: 464px;
    height: 369px;
    object-fit: cover;
    margin-right:64px;
}
.banner-M {
    width: 464px;
    height: 369px;
    object-fit: cover;
    margin-left:64px;
}
.modal-text-box{
    display: flex;
    flex-direction: column;
}
.modal-text-box h1{
    color: #F8FFFF;
    font-weight: 700;
    font-size: 32px;
    line-height: 51px;
    letter-spacing: 0.16em;
}
.modal-text-box p{
    color: #F8FFFF;
    font-weight: 300;
    font-size: 16px;
    line-height: 300%;
}
.modal-text-box-Q{
    display: flex;
    justify-content: center;
    color: #F8FFFF;
    flex-direction: column;
    text-align: center;
}
.modal-text-box-Q h1{
    margin-top:-60px;
    letter-spacing: 0.525em;
}
.modal-text-box-Q p{
    letter-spacing: 0.6em;
    line-height: 350%;
}
.modal-text-box-K h1 {
    font-size: 96px;
    font-weight: 700;
    line-height: 154px;
    text-align: center;
    letter-spacing: 0.005em;
    display: flex;
    padding-top: 30px;
    color: #F8FFFF;
}
.quote{
    height: 666px;
    background-color: #EE7A3D;
    display: flex;
    align-items:center;
    justify-content: center;
    position: relative;
}
.quote h1 {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 51px;
    text-align: center;
    letter-spacing: 0.74em;
    color: #F8FFFF;
    position: absolute;
    background-color: #2C2C2C;
    padding-left:30px;
}
.quote img {
    position: absolute;
    width: 100%; 
}
.pcQ { display: block !important; }
.spQ { display: none !important; }
footer {
    background-color: #EE7A3D;
    height:43px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer h1{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color:#342C2C;
}
@media all and (max-width:768px) {

    header {
        height: 844px;
    }
    header h1 {
        margin-top: 17px;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.14em;
    }
    .cool{
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .cool p{
        font-size: 16px;
        margin-bottom: -50px;
        line-height: 85px;
    }
    .cool h1 {
        font-size: 100px;
        line-height: 1.3;
        margin-top: 43px;
    }
    .br-sp {
        display: flex;
    }
    .pcI { display: none !important; }
    .spI { display: block !important; }

    .practical {
        height: 888px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 68px;
    }
    .practical img{
        height: 140px;
        max-width: 100%;
        margin-bottom:50px;
        margin-left: 0;
        margin-right:0; 
    }
    .mind {
        height: 888px;
        position: relative;
        display: flex;
        padding-top: 67px;
        flex-direction: column;
        padding-right: 0;
        align-items: center;
    }
    .mind img{
        height: 140px;
        max-width: 100%;
        margin-bottom:50px;
        margin-left:0;
    }
    
    .pcM { display: none !important; }
    .spM { display: block !important; }

    .modal-box-practical {
        padding-bottom:45px;
    }
    .modal-box-mind{
        padding-bottom:65px;
    }
    .modal-button {
        font-size: 20px;
        letter-spacing: 0.3em;
    }
    .modaal-content-container{
        flex-direction: column-reverse;
        padding-top:50px;
    }
    .banner-P{
        width: 282px;
        height: 187px;
        object-fit: cover;
        margin-right:0px;
    }
    .banner-M {
        width: 282px;
        height: 187px;
        object-fit: cover;
        margin-left:5px;
    }
    .modal-text-box h1{
        font-size: 24px;
        line-height: 38px;
        display: flex;
        justify-content: center;
        padding-bottom:20px;
    }
    .modal-text-box p{
        font-size: 14px;
        line-height: 350%;
        text-align: center;
        padding-bottom:30px;
    }
    .mind-layout{
        flex-direction: row;
        align-items: stretch;
        flex-direction: column-reverse;
    }
    .modal-text-box-Q h1{
        margin-top:-10px;
        letter-spacing: 0.22em;
    }
    .modal-text-box-Q p{
        letter-spacing: 0;
        line-height: 290%;
    }
    .modal-text-box-K {
        padding-top: 45%;
    }
    .modal-text-box-K h1{
        font-size:70px;
        line-height: 1.5;
    }
    .quote{
        height: 717px;
    }
    .quote h1{
        writing-mode: vertical-rl;
        padding-left: 0;
        padding-top:10px;
    }
    .quote img{
        width: 269px;
        height: 576px;
        object-fit: cover;
    }
    .pcQ { display: none !important; }
    .spQ { display: block !important; }
}